:root {
    --color-accent: oklch(80% 0.11 295);
    --border-color: oklch(50% 10% 200 / 40%);

}

body {
    /* Set line height to 1.5 times the font size
        and use the OS's UI font as the Website font
        */
    font: 100%/1.5 system-ui;

    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch)/2);

    accent-color: var(--color-accent);


    /* 4.4 Finishing Touches */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        text-wrap: balance;

    }

    h1 {
        font-size: 400%;

    }

}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 80%;
    font-family: inherit;
}

/* REMOVED FOR LAB 05 */
/* ul,
li {
    display: contents;
} */

.container {
    display: flex;
    align-items: center;
    gap: 5%;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
    gap: 1em;
    padding: 0.7em;
    flex: 1;
    border-bottom: 0.2em solid var(--border-color);
    border-left: 0.2em solid var(--border-color);
}

.legend_li {
    display: flex;
    align-items: center;
    gap: 0.3em;

}

li .swatch {

    height: 1.5em;
    aspect-ratio: 1/1;
    background-color: var(--color);
    border-radius: 50%;


}


nav {



    display: flex;
    margin-bottom: 2em;
    /* oklch(80% 3% 200) */
    border-bottom: 1px solid;

    border-bottom-color: var(--border-color);


    a {
        flex: 1;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 0.5em;

        &:hover {
            background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
            border-bottom: 0.4em solid var(--color-accent);
            padding-bottom: 0.1em;
        }

    }


    .current {
        border-bottom: 0.4em solid var(--border-color);
        padding-bottom: 0.1em;

    }

}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    label {
        display: grid;
        grid-template-columns: subgrid;

    }

    label,
    button {
        grid-column: 1 / -1;

    }

    input,
    textarea,
    button {
        font: inherit;
    }

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;

    }

    h2 {
        margin: 0;
    }
}

.resume {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1.5em;
    height: auto;

    h2 {
        border-bottom: 0.2em solid var(--color-accent);
    }

    h4 {
        border-left: 0.4em solid var(--color-accent);
        padding: 0.5em;
        background-color: color-mix(in oklch, var(--color-accent) 15%, canvas 0%);
    }

    time {
        color: oklch(from var(--color-accent) 50% 70% h);
        ;
    }

    section {
        margin-bottom: 3em;
    }

}

.left {
    grid-column: 1/5;
    grid-row: 1/10;
}

.skills {
    grid-column: 5/8;
    grid-row: 1/10;
}

/* Github Stats */
#git {
    margin-bottom: 0;
}

#profile-stats {
    display: grid;


    dl {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    dt {
        grid-row: 1;
    }

    dd {
        grid-row: 2;
        margin: 0;
        font-size: 200%;
    }

}

#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;

    overflow: visible;
}

/* PIE CHART */
&:has(path:hover) {
    path:not(:hover) {
        opacity: 0.5;
    }
}

path {
    transition: 300ms;
    cursor: pointer;
}

/* highlighting selected wedge */
.selected {
    --color: oklch(60% 45% 0) !important;

    &:is(path) {
        fill: var(--color);
    }

    &:is(li) {
        display: flex;
        align-items: center;
        gap: 0.3em;
    }
}

/* meta */
#stats {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    height: 15vh;
    display: grid;


    dl {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        ;
    }

    dt {
        grid-row: 1;
        /* gap: 1em; */
    }

    dd {
        grid-row: 2;
        margin: 0;
        font-size: 200%;
    }

}

.gridlines {
    opacity: 50%;
}

dl.info {
    display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    padding: 0.2em;
    backdrop-filter: blur(10px);

    position: absolute;
    pointer-events: none;
    transition-duration: 500ms;
    transition-property: opacity, visibility;


    dl {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        ;
    }

    dt {
        grid-row: 1;
        margin: 0;
        font-size: 100%;
        /* gap: 1em; */
    }

    dd {
        grid-row: 2;
        margin: 0;
        font-size: 100%;
    }
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}

#language-breakdown {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    dt {
        grid-row: 1;
        margin: 0;
        font-size: 200%;
        /* gap: 1em; */
    }

    dd {
        grid-row: 2;
        margin: 0;
        font-size: 100%;
    }
}

circle {
    transition: all 200ms, r calc(var(--r) * 100ms);
    transform-origin: center;
    transform-box: fill-box;

    @starting-style {
        r: 0;
    }
}

circle:hover {
    transform: scale(1.5);
}

circle.selected {
    fill: #ff6b6b;
}

@keyframes marching-ants {
    to {
        stroke-dashoffset: -8;
        /* 5 + 3 */
    }
}

.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

#files {
    position: sticky;
    top: 7em;
    left: 0;
    bottom: 0;
    /* height: 90vh; */
    align-content: start;
    align-self: start;


    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 0px;

    >div {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        padding: 5px;
    }

    dt {
        grid-column: 1;
        margin: 0;
        line-height: 1;
        font-size: .7rem;
    }

    dd {
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        align-content: start;
        gap: 0.15em;
        /* padding-top: 0.1em; */

        font-size: 0.5rem;

    }
}

.loc {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    background: steelblue;
    border-radius: 50%;


    background-color: var(--color);
    border: 1px solid rgba(0, 0, 0, 0.1);


}

#scrolly-1 {
    position: relative;
    display: flex;
    gap: 1rem;

    >* {
        flex: 1;
    }


}

#scrolly-1 .step:first-child {
    opacity: 1;
}

#scatter-story {
    position: relative;
}

#scatter-plot {
    position: sticky;
    top: 5em;
    left: 0;
    bottom: 0;
    height: 70vh;
}

.step {
    padding-bottom: 1em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#commit-time {
    position: sticky;
    height: 90vh;
    top: 6em;
    left: 0;
    bottom: 0;

}